---
- name: Install nginx
  ansible.builtin.yum:
    name: nginx
    state: present
  when: ansible_os_family in ["RedHat", "Amazon"]

- name: Install nginx (Debian)
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Copy nginx config
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: restart nginx

- name: Ensure nginx running
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  listen: restart nginx
