---
- name: Disable SELinux on Amazon/RHEL
  ansible.builtin.selinux:
    state: disabled
  when: ansible_os_family == "RedHat" or ansible_distribution == "Amazon"

- name: Stop firewalld if present
  ansible.builtin.service:
    name: firewalld
    state: stopped
    enabled: false
  ignore_errors: true
