---
- name: Disable SELinux (Amazon/RHEL)
  ansible.builtin.selinux:
    state: disabled
  when: ansible_os_family == "RedHat" or ansible_distribution == "Amazon"

- name: Stop firewalld if running
  ansible.builtin.service:
    name: firewalld
    state: stopped
    enabled: false
  ignore_errors: true
  when: ansible_service_mgr == "systemd"
