---
- name: Disable SELinux (Amazon/RHEL)
  ansible.builtin.selinux:
    state: disabled
  when: ansible_os_family == "RedHat" or ansible_distribution == "Amazon"

- name: Stop firewalld if running
  ansible.builtin.shell: |
    systemctl list-unit-files | grep -q firewalld && systemctl stop firewalld && systemctl disable firewalld || echo "firewalld not present"
  args:
    executable: /bin/bash
  ignore_errors: true
