---
- name: Install dependencies for Netdata
  ansible.builtin.apt:
    name:
      - curl
      - bash
    state: present
    update_cache: yes

- name: Install Netdata using official script
  ansible.builtin.shell: |
    bash <(curl -Ss https://my-netdata.io/kickstart.sh) --non-interactive --disable-telemetry
  args:
    executable: /bin/bash
  become: yes

- name: Ensure Netdata is running
  ansible.builtin.service:
    name: netdata
    state: started
    enabled: true
